@import "menu.styl"

.egresado
  &__body
    margin-top 30px
    margin-bottom 100px
  &__slider
    &__img
      width 100%
      height 350px !important
  &__nuevo
    display block
    &__linkBack
      cursor pointer
      text-decoration none
      &:hover
        text-decoration none
    &__iconBack
      font-size 20px
      margin-right 7px
    &__textBack
      font-size 16px
    &__boxImg
      height 230px
      width 90%
      float right
      &__img
        width 100%
        height 100%

