@import "menu.styl"
@import "report.styl"

.egresado
  &__body
    margin-top 30px
    margin-bottom 100px
  &__slider
    &__img
      width 100%
      height 350px !important
  &__nuevo
    display block
    &__linkBack
      cursor pointer
      text-decoration none
      &:hover
        text-decoration none
    &__iconBack
      font-size 20px
      margin-right 7px
    &__textBack
      font-size 16px
    &__boxImg
      height 230px
      width 90%
      float right
      &__img
        width 100%
        height 100%

.capacitacion
  &__item
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-height 200px
    margin-bottom 30px
  &__nombre
    color: #004c97
    font-size 20px
    line-height 22px
    font-weight normal
    margin-bottom 40px
    display block
    border-bottom: 1px solid #7FA5CB;
    cursor pointer
    &:hover
      text-decoration none
  &__detail
    display block
    &__name
      font-weight: normal;
      font-size: 30px;
      color: #004C97;
      margin-top: 0;
      text-align center
    &__itemHeader
      width: 100%;
      border: 1px  #CCC solid;
      box-shadow: inset 0px 10px 8px -10px #CCC, inset 0px -10px 8px -10px #CCC;
      padding-top 12px
      padding-bottom 11px
    &__subTittle
      color: #444;
      font-weight: 700;
      font-size: 18px;
    &__text
      line-height: 1.6;
      margin-bottom: 26px;
    &__itemRight
      background: #f4f7f7 none repeat scroll 0 0;
      border-color: #d8dee0;
      border-image: none;
      border-style: solid;
      border-width: 1px 1px 5px;
      margin-bottom: 45px;
      padding: 18px;
      margin-top 20px
      &__subTitle
        color: #444444;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
      &__text
        color: #666666;
        font-size: 15px;
        line-height: 20px;
