@import "inicio.styl"
@import "recomendacion.styl"

.atractivos
  margin-top 50px
  margin-bottom 70px
  &__tittle
    margin-bottom 40px
    color grey
    font-size 16px
  &__btnAgregar
    float right
    cursor pointer
    width 100%
  &__list
    margin-top 25px
    margin-bottom 50px
    &__link
      text-decoration none
      &:hover
        text-decoration none
    &__item
      display block
      height 280px
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
      margin-bottom 20px
      border-radius 2px
    &__img
      width 100%
      height 170px
    &__boxDescription
      padding 10px
    &__codigo
      font-weight bold
      font-size 13px
      color #000000
      margin-top 0rem
    &__nombres
      font-size 12px
      color #000000
    &__carrera
      font-size 12px
      color #9f9f9f
  &__form
    &__boxInputFileImage
      width 100%
      display inline-block
      text-align center
    &__inputImage
      display inline-block !important
      color: transparent;
      width: 37%
    &__imagePreviewCreate
      height 316px
      width 90%
      float right
      margin-bottom 10px

    &__boxFormInfoGeneral
      margin-top 20px
  &__labelInfoGeneral
    margin-bottom 15px
    border-bottom 2px dashed $grey
    padding-bottom 5px
    font-weight bold

  &__boxEmpty
    display inline-block
    width 100%
    margin-top 50px
    text-align center
    &__img
      width 230px
      height 230px
    &__text
      text-align center
      font-size 16px
      font-weight bold

.contentProjectList__boxContent
  margin-bottom 50px






