.atractivoInicio
  &__boxImg
    height 315px
  &__input
    display inline-block !important
    color: transparent
    width 80%
    padding: 6px 20px
    border 0rem
    margin-top 10px
  &__boxBtns
    display none
    margin-top 30px
    text-align center

