/*menu nav principal*/
#mainNav
  background #2C3C4D !important
  /*background #4A423F !important*/
  /*border-color #0000C2*/


#mainNav .navbar-brand
  color skyblue !important
  font-weight bold

#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus
  color #ececec !important



input[type='text'] { font-size: 13px;
  height: 37px}