$backgrondHeader = #24292e;
$colorTextHeader = #c8c9cb;
$blanco = white;
$backgrondInpSearchHeader = #3f4448;
$colorInpSearchHeader = #8d9092;

$colorLine  = #eaecef;
$colorNaranja = #e56200;
$colorTitleProject = #0062d9;
$colorCodigoProject = #009EA5;
$colorBorderCargo = #dddede;
$colorText = #586069;
$backgrondBtnStar = #EBEFF4;
$borderBtnStar = #cacfd2;
$borderHoverBtnStar = #A3A8AB;
$colorBtnAgregar = #9DA2A6;
$colorRojo = red;

$backgrondBusqueda = #0366D6;
$colorFavorito = #FFD700


$grey = #bfbfbf