@media (max-width: 1440px)
  .loader
    top 25%
    height: 85%;
  .modalEditarBody
    min-height 820px

  .modalRevisarBody
    min-height 800px

  .boxContentReview
    min-height 680px
  .boxTimeline
    min-height 660px

  .boxformEvaluacion__textObservacion
    height 337px !important

@media (max-width: 1366px)
  .loader
    top 30%
    height: 85%

  .modalEditarBody
    min-height 650px

  .modalRevisarBody
    min-height 580px

  .boxContentReview
    min-height 490px

  .boxTimeline
    min-height 450px

  .boxformEvaluacion__textObservacion
    height 150px !important


@media (max-width: 1280px)
  .loader
    top 30%
    height: 85%;

  .modalRevisarBody
    min-height 720px

  .modalEditarBody
    min-height 720px

  .boxContentReview
    min-height 600px
  .boxTimeline
    min-height 550px

  .boxformEvaluacion__textObservacion
    height 255px !important

@media (max-width: 1024px)
  .loader
    top 25%
    height: 85%;
  .boxformEvaluacion__boxPuntaje
    width 70%

  .boxContentReview
    min-height 595px

  .boxTimeline
    min-height 550px

  .boxformEvaluacion__textObservacion
    height 270px !important

@media (max-width: 768px)
  .loader
    top 20%
    height: 85%

  .modalRevisarBody
    min-height 1200px

  .modalEditarBody
    min-height 800px

  .boxTimeline
    min-height 500px

  .boxformEvaluacion__boxPuntaje
    width 50%

  .boxformEvaluacion__textObservacion
    height 180px !important

  .boxContentResumen__imageQr
    width 90%
    height 150px

  .boxContentResumen__boxDescargar
    top -10px
  .boxContentResumen__boxDescargar__ancla
    width 90%

  .boxContentResumen__boxDescargar__btn
    top: -60px
    text-indent: -9999px
    line-height: 0
    &:after
      content: "Descargar"
      text-indent: 0
      display: block
      line-height: initial


@media (max-width: 449px)
  .textCriterios
    font-size 14px
  .modalRevisarBody
    min-height 1250px
  .contentProjectList__boxContent
    padding-right 0rem
    padding-left 0rem
  .projectDetailHead__backProyectos
    font-size 16px
  .projectDetailHead__iconName
    font-size 16px

  .projectDetailHead__namePro
    font-size 13px

  .loader
    top 40%
  .boxBtnCloseModal
    display none
  .descripcionHeadModal
    font-size 14px
    margin-top 15px
  .boxBtnGuardaModal__btnCancelar
    font-size 13px
  .boxBtnGuardaModal__btnGuardar
    font-size 13px

  .ulEditarProyecto
    font-size 10px

  .boxformEvaluacion__boxPuntaje
    width 80%

  .btnFooter
    font-size 11px
    width 100px
    &__guardar
      margin-right 5px
      font-size 11px
      width 100px

  .ulModalEditar
    font-size 12px

  .criterio-tooltip
    font-size 11px

  //responsive project detail resumen
  .boxContentResumen__name
    margin-top 10px
  .boxContentResumen__span
    margin-top 20px
  .boxContentResumen__boxTypeMember
    display block
    margin-left 0rem
    margin-top 2px

  .boxContentResumen__imageQr
    height 130px

  .boxContentResumen__ulMiembros
    padding-bottom 0px

  .boxContentResumen__ulMiembros li
    margin-bottom 9px

  .boxContentResumen__textItem
    display block
  .boxContentResumen__spanPendente
    margin-left 0rem
    float none

  .boxContentResumen__btnAgregar
    float none
    margin-top 2px

  .navDetail li a
    font-size 12px

  .boxContentResumen__boxDescargar
    padding-right: 11px;
    top: -5px;

@media (max-width: 320px)
  .ulEditarProyecto
    font-size 7px
    border-bottom none

  .ulEditarProyecto li a
    margin-right 0rem
    padding-right 10px
    padding-left 10px


