@media (max-width: 768px)
  .boxImg__perfil
    height 150px

@media (max-width: 449px)
  .boxImg
    display none

  .boxFormList__inpSelect--list
    float left
    width 80%

  .boxProject__itemTittle
    line-height .9

  .boxProject__name
    font-size 13px




