@media (max-width: 768px)
  .contentPerfil
    padding-left 1.8rem
  .contentPerfil__boxPicture__content
    width 85%


@media (max-width: 449px)
  .contentPerfil
    padding-left 0rem
    padding-top 230px
  .contentPerfil__boxPicture
    position absolute
    top -325px
    text-align center
  .contentPerfil__boxPicture__content
    float inherit
    width 100%
  .contentPerfil__boxPicture__subTittle
    display none
  .contentPerfil__boxPicture__img
    width 50%
  .contentPerfil__title
    display block
    text-align center
    margin-bottom 15px
    font-size 18px
  .contentPerfil__boxBtn
    float none
    text-align center
    margin-bottom 10px


  .btnMenuPerfil
    border none !important
    &:focus
      background white !important
    &:hover
      background white !important
    &__icon
      font-weight bold