@media (max-width: 768px)
  .boxProjectCreate
    width 75%


@media (max-width: 449px)
  .boxProjectCreate
    width 100%
  .boxFormCreate__boxBtns
    float inherit
    text-align center
  .boxFormCreate__btn
    margin 5px
