.navbar-custom
  padding 10px
.sectionLogin
  padding-top 132px
  padding-bottom 80px
.text_iniciarSesion
  font-size 24px

@media(max-width: 768px)
  .boxLogin
    padding-right 14rem
    padding-left 14rem

@media(max-width: 449px)
  .boxLogin
    padding-right 4rem
    padding-left 4rem