@media (max-width: 768px)
  .boxAsesor__boxList__btnCancelar
    text-indent: -9999px
    line-height: 0;
    &:after
      content: "Cancelar";
      text-indent: 0;
      display: block;
      line-height: initial;
  .boxAsesor__titleHead--r
    font-size 13px
    margin-top 3px

@media (max-width: 449px)
  .boxBtnAgregar
    float right

  .boxAsesor__boxList__boxImg__img
    width 75%
  .boxPerfilMember
    text-align left

  .boxFormList__inpSelect__member
    width 95%
    font-size 12px

  .boxAsesor__boxList__boxImg
    padding-right 3px

  .boxAsesor__boxList__btnCancelar
    text-indent: -9999px
    line-height: 0;
    &:after
      content: "Cancelar";
      text-indent: 0;
      display: block;
      line-height: initial;

  .boxAsesor__titleHead--r
    float inherit
    text-align center
    margin-top 5px

  .boxComision__boxForm
    padding-bottom 50px
