body {
  font-family: 'Crimson Text', serif;
}
.boxError {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.boxError__NumError {
  font-size: 190px;
  color: #979797;
  font-weight: 500;
  text-align: center;
}
.boxError__textSorry {
  margin-top: 70px;
  color: #979797;
  font-size: 30px;
  font-weight: bold;
}
.boxError__textPageNoFound {
  color: #979797;
  font-size: 30px;
  text-transform: uppercase;
}
.boxError__description {
  margin-top: 0rem;
  text-align: center;
  color: #979797;
  font-size: 20px;
  font-weight: 500;
}
.boxError__returnHome {
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .boxError {
    top: 45%;
  }
  .boxError__textSorry {
    margin-top: 0rem;
    text-align: center;
  }
  .boxError__textPageNoFound {
    text-align: center;
  }
  .boxError__description {
    margin-top: 6px;
  }
}
