.principalBoxCreate
  display inline-block
  text-align center

.boxProjectCreate
  width 70%
  display inline-block
  @extends .anulPadding

.boxHeadCreate
  text-align left
  @extends .anulPadding
  &__tittle
    font-size 24px
    color $colorText
    margin-top 10px

.boxFormCreate
  margin-top 10px
  text-align left
  @extends .anulPadding
  &__boxInputs
    padding-bottom 10px
  &__boxBtns
    margin-top 10px
    float right
  &__btn
    width 140px
    height 40px
    margin-left 25px
    font-weight bold
    padding-top 1rem



